body {        
  background-color: rgba(171, 197, 179, 0.333);
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 40px;
  height: 0px;
  color: rgba(33, 82, 123, 0.288);
}

h1 {
  color: rgba(33, 83, 123, 0.822);
  font-family: cursive;  
}

h3 {
  color: rgba(33, 83, 123, 0.822);
  font-family: cursive;  
}

h4 {
  color: rgba(33, 83, 123, 0.822);
  font-family: cursive;  
}

.chewbacca{
  border-radius: 50%;
  height: 200px;
}